@import url("https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.2/css/all.min.css");

.container {
  width: 50%;
  margin: 0 auto;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 10px;
  background-color: #f9f9f9;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

h1 {
  text-align: center;
  font-size: 24px;
  color: #333;
}

.align-center {
  display: flex;
  justify-content: center;
  align-items: center;
}

.input-container {
  display: flex;
  justify-content: space-between;
  margin-bottom: 10px;
}

input[type="text"] {
  flex-grow: 1;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-size: 16px;
}

button {
  margin-left: 10px;
  padding: 10px 15px;
  border: none;
  border-radius: 5px;
  font-size: 16px;
  cursor: pointer;
}

button:hover {
  background-color: #0056b3;
}

ul {
  list-style-type: none;
  padding: 0;
}

.list-item {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px;
  border-bottom: 1px solid #ddd;
}

.list-item:last-child {
  border-bottom: none;
}

.checkbox {
  margin-right: 10px;
}

.task {
  flex-grow: 1;
}

.task.finished {
  text-decoration: line-through;
}

.option-container {
  display: flex;
  gap: 10px;
}

.btn-primary {
  margin-left: 5px;
  background-color: #007bff;
  color: white;
  border: none;
  padding: 5px 10px;
  border-radius: 5px;
  cursor: pointer;
}

.btn-primary:hover {
  background-color: #0056b3;
}

.btn-danger {
  margin-left: 5px;
  background-color: whitesmoke;
  border: none;
  padding: 5px 10px;
  border-radius: 5px;
  cursor: pointer;
}

.btn-danger:hover {
  background-color: wheat;
}

.error {
  color: red;
  margin-bottom: 10px;
}

h2 {
  text-align: center;
  color: #333;
  margin-top: 20px;
}

.completion-message {
  text-align: center;
  color: green;
  font-size: 18px;
}

.modal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
}

.modal-content {
  background-color: white;
  padding: 20px;
  gap: 10px;
  border-radius: 10px;
  width: 300px;
  text-align: left;
}

.modal-content h2 {
  margin-top: 0;
}

.modal-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.modal-content input[type="text"] {
  width: 90%;
  padding: 10px;
  margin-bottom: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.modal-footer {
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
}

.modal-content button {
  margin: 5px;
}

.notify-red {
  width: 10px;
  height: 10px;
  border: red solid;
  border-radius: 50%;
  background-color: red;
  padding: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.delete-message {
  display: inline-flex;
  align-items: center;
  gap: 10px;
}

.color-orange {
  color: orange;
}

.color-red {
  color: red;
}

i:hover {
  cursor: pointer;
}

.progress{
  background-color: lightgray;
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 5px;
  padding: 5px;
}

.progress p{
  font-weight: 600;
}